<div class="column is-one-quarter">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= link_to park.name, park, class:"has-text-success" %>
      </p>
    </header>
    <div class="card-content">
      <p>This park has x species of tree.</p>
    </div>
  </div>
</div>