<div class="column is-one-quarter">
  <div class="card">
    <div class="card-content">
        <%= link_to park.name, park, class:"has-text-success has-text-weight-bold" %>
    </div>
    <div class="species-container pt-0">
      <ul class="species-list px-5 py-2">
      <% if species(park.id).length > 0 %>
        <% species(park.id).each do |s| %>
          <li><%= link_to s.plant.common_name, s.plant, class:"has-text-success" %></li>
        <% end %>
      <% else %>
        <li>No Species Found :(</li>
      <% end %>
      </ul>
    </div>
    <div class="card-footer">
      <div class="card-footer-item"></b><%= species_count(park.id) %> Species</div>
      <div class="card-footer-item"><%= tree_count(park.id) %> Trees</div>
    </div>
  </div>
</div>
