<section class="section">
  <div class="container">
    <p class="title">All Genera</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column">
        <ul>
        <% @genera.each do |genus| %>
          <li><%= link_to genus.name, genus, class:"has-text-success" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>