<section class="section">
  <div class="container">
    <p class="title">All Families</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column">
        <ul>
        <% @families.each do |family| %>
          <li><%= link_to family.name, family, class:"has-text-success" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>