<section class="section">
  <div class="container">
    <p class="title">About</p>
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-content">
            <aside class="menu">
              <p class="menu-label">
                Data Sources
              </p>
              <ul class="menu-list">
                <li><%= link_to "Winnipeg Parks and Open Space", "https://data.winnipeg.ca/Parks/Parks-and-Open-Space/tx3d-pfxq", target: "_blank" %></li>
                <li><%= link_to "Winnipeg Tree Inventory", "https://data.winnipeg.ca/Parks/Tree-Inventory/hfwk-jp4h", target: "_blank" %></li>
                <li><%= link_to "Global Plants API Trefle.io", "https://trefle.io/", target: "_blank" %></li>
              </ul>
            </aside>
          </div>
        </div>
      </div>
      <div class="column is-three-quarters">
        <div class="card">
          <div class="card-content">
            <div class="content">
              <p class="menu-label">What is TreeFinder?</p>
              <p>TreeFinder is a website for exploring Winnipeg's tree inventory. The city maintains a database of parks and open spaces, as well as a separate tree inventory database. By combining these data sets, we can identify each tree in a given park, as well as some information like the trunk girth and geocoordinates. Treflo.io, is then searched to gather botanical data about each tree species, such as the genus and family names, as well as a photo of the tree species. Finally, the parks and trees are plotted on a map, for visual navigation.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
