<section class="section">
  <div class="container">
    <p class="title">Search Results</p>
    <p class="subtitle">You searched for: "<%= params[:query] %>"</p>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-centered">
      <div class="column">
        <ul>
        <% if not @plants.nil? %>
          <% @plants.each do |plant| %>
            <li><%= link_to "#{plant.common_name} / #{plant.scientific_name}", plant, class:"has-text-success" %></li>
          <% end %>
        <% else %>
          <li>No results found</li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>