// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Parks Card
.column > .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.species-container {
  flex-grow: 1;
}
.species-list {
  height: 240px;
  overflow: auto;
  border-top: 1px solid #eee;
}

// Scrollbar
.species-list::-webkit-scrollbar {
  width: 10px;
}
.species-list::-webkit-scrollbar-track {
  background: #fff;
}
.species-list::-webkit-scrollbar-thumb {
  background: #48c774;
}
.species-list::-webkit-scrollbar-thumb:hover {
  background: #34a85c;
}

// Map
#map {
  height: 600px;
  z-index: 0;
}

// Search
.search {
  display: flex;
  align-items: center;
}